@media screen and (min-width: 1224px) {
  .titre_index {
    text-align: center;
    font-size: 1.6em;
  }

  .section1 {
    display: flex;
    flex-wrap: nowrap;

    .box_choix {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      margin-top: 20px;

      .choix {
        width: 20%;
        justify-content: center;
        font-size: 1.2em;
      }
    }
  }

  .section2 {
    margin-top: 30px;

    &__header {
      text-align: center;
    }
  }
}
